@charset "utf-8";

/* 'Pretendard' ,sans-serif */
@import url(../assets/style/pretendard-subset.css);

/* 
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal; 
*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playfair+Display:wght@400..900&display=swap');  

/*** CSS 변수 ***/
:root {
  /* font */
  --font-ko: 'Pretendard',-apple-system, BlinkMacSystemFont, "Malgun Gothic", "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;
  --font-en: "Playfair Display", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Apple SD Gothic Neo", Arial ,sans-serif;

  --color-blue: #1072FA;
  --color-gray: #DEDFDF;
  --font-gray: #A6A5A2;
}
body {
  font-family: var(--font-en);
  scroll-behavior: smooth;
  text-align: center;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--color-blue);
  border-radius: 25px;
}
::-webkit-scrollbar-track {
  background: #000;
}


/* header */
header {
  padding: 2.2vw 0;
}
header .header-inner {
  display: flex;
  padding: 0 2.2vw;
  align-items: center;
}
header .header-inner a {
  font-size: 1.2rem;
}
header .header-marquee {
  font-family: var(--font-ko);
  width: 32vw;
  height: 2.7vw;
  line-height: 2.2;
  margin: 0 auto;
  border: 1px var(--color-gray) solid;
  overflow: hidden;
  display: flex;
  white-space: nowrap;
}
header .header-marquee .marquee-text {
  animation: marquee 30s linear infinite;
  font-size: 1.2vw;
}
@keyframes marquee {
  0% {
    transform: translateX(0)
  }

  100% {
    transform: translateX(-100%);
  }
}
header .header-marquee .marquee-text .circle {
  display: inline-block;
  width: 0.4vw;
  height: 0.4vw;
  background-color: var(--color-blue);
  margin: 0.2vw 0.8vw;
}
header .gnb {
  display: flex;
  height: 37px;
}
header .gnb li:first-child {
  margin-left: 0;
}
header .gnb li {
  margin-left: 15px;
  padding: 5px;
}
header .gnb li:last-child {
  padding-right: 0;
}
header .gnb li:hover {
  border-bottom: 2px solid var(--color-blue);
  color: var(--color-blue);
}

/* main */
.main {
  height: calc(100vh - 4.4vw);
  text-align: center;
  position: relative;
  /* background: url(../images/Union\ \(2\).svg) no-repeat 0 85% / cover; */
}
.main .main-text {
  padding-top: 8vw;
  display: flex;
  flex-direction: column;
}
.main .main-text h1 {
  font-size: 7rem;
  font-weight: 400;
}
.main .main-text span {
  position: relative;
}
.main .main-text span::before {
  content: "";
  background-color: var(--color-blue);
  width: 580px;
  height: 4px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  transform: scaleX(1);
  transform-origin: right;
  transition: transform 0.3s ease;
}
.main .main-text span:hover::before {
  transform: scaleX(0);
}
.main .main-text span::after {
  content: "";
  background-color: var(--color-blue);
  width: 580px;
  height: 4px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
}
.main .main-text span:hover::after {
  transform: scaleX(1);
}


.bottom-text {
  display: flex;
  justify-content: space-between;
  margin-top: 14vw;
  padding: 0 2.2vw;
  font-size: 1.1rem;
}
.bottom-text .bottom-inner {
}

/* 배경 동그라미 효과 */
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 5vw;
  background-color: transparent;
  background-image: url("");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  z-index: -9;
}
