@charset "utf-8";

.desc {
  font-family: var(--font-ko);
}

.line {
  background-color: var(--color-blue);
  display: block;
  width: 500px;
  height: 3px;
  margin: 0 auto;
}

.number {
  color: var(--font-gray);
  margin-right: 50px;
  font-size: 1.2rem;
}

.padding {
  padding: 20px;
}


#about {
  height: 100%;
  padding: 3.5vw 2.2vw 0;
}

#about .about-inner {
  margin-top: 1.8vw;
}

#about h2 {
  font-size: 5rem;
  text-align: left;
  position: relative;
}

#about h2::after {
  content: '';
  position: absolute;
  width: 360px;
  height: 3px;
  background-color: var(--color-blue);
  top: 57%;
  left: 13%;
  transform-origin: left;
  animation: animateLine 5s;
}
@keyframes animateLine {
  from { transform: scale(0); }
  to { transform: scale(1); }
}

#about h3 {
  font-size: 4rem;
  font-weight: 400;
}

#about h3 p {
  font-family: var(--font-ko);
}

#about .about-text {
  margin: 1vw 0 2.5vw;
  font-size: 1.2rem;
}

.skills-container {
  display: flex;
  justify-content: space-evenly;
  padding-top: 100px;
}

.skills-inner {
  display: flex;
  flex-direction: column;
}

.skills-box {
  display: flex;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1vw;
}

.skills-text strong {
  font-size: 1.2rem;
}
.text-wrapper span {
  font-size: 1.1rem;
}