@charset "utf-8";

.desc {
  font-family: var(--font-ko);
}
.line {
  background-color: var(--color-blue);
  display: block;
  width: 500px;
  height: 3px;
  margin: 0 auto;
}
.number {
  color: var(--font-gray);
  margin-right: 50px;
}
.padding {
  padding: 20px;
}


#about {
  height: 100vh;
  padding: 0 2.2vw;
  padding-top: 8vh;
}
#about .about-inner {
  margin-top: 5vw;
}
#about h2 {
  font-size: 5rem;
  text-align: left;
}
#about h3 {
  font-size: 4rem;
  font-weight: 400;
}
#about h3 p {
  font-family: var(--font-ko);
}
#about .about-text {
  margin: 1vw 0 2.5vw;
  font-size: 1.2rem;
}

.skills-container {
  display: flex;
  justify-content: space-around;
  padding-top: 100px;
}
.skills-inner {
  display: flex;
  flex-direction: column;
}
.skills-box {
  display: flex;
}
.skills-text strong {
  padding-right: 10px;
}