@charset "utf-8";

h2 { font-family: var(--font-en);}
main .contents .title .des li p { display: grid; grid-template-columns: 0.3fr 1fr;}


/*** overview-inner ***/
.overview-inner-top {
  list-style: none;
  display: flex;
  padding: 0;
  margin-bottom: var(--headline-margin);
}
.overview-inner-bottom {
  list-style: none; 
  display: flex;
  padding: 0;
  margin-bottom: var(--headline-margin);
  }
.overview-inner-bottom li:first-child ul { list-style-type: decimal;}

/*** btn ***/
.btn-wrapper {
  display: flex;
}
.go-to-pdf {
  width: 240px;
  height: 50px;
  padding: 0;
  border: none;
  border-radius: 5px;
  background-color: var(--color-black);
  color: #fff;
  font-family: var(--font-ko);
}
.go-to-site { margin-right: 1vw;}
.go-to-pdf { 
  display: flex; 
  justify-content: space-around;
  align-items: center;
}
.go-to-pdf svg { transition: .2s;}
.go-to-pdf:hover svg {
  transform: translateX(10px);
}
.go-to-pdf:hover {
  background-color: var(--color-blue)
}