@charset "utf-8";

main .contents .title .des li p { display: grid; grid-template-columns: 0.2fr 1fr;}

/*** style-guide ***/
.style-guide { margin-bottom: var(--headline-margin);}
.style-guide ul { margin-bottom: 80px;}
.style-guide .keyword { margin-bottom: 70px;}
.style-guide .color { margin-bottom: 70px;}
.style-guide .color .color-inner { display: grid; grid-template-columns: 1fr 1fr;}
.style-guide .typo .typo-inner { display: grid; grid-template-columns: repeat(3, 1fr);}

/*** problem ***/
.problem { margin-bottom: var(--headline-margin);}
.problem ul li { margin-bottom: 30px;}

/*** review ***/
.review p:last-child { margin-top: 30px;}