@charset "utf-8";

/*** fonts ***/
/* 'Mont-Heavy' */
/* 'Mont-Bold' */
@import url(../../assets/style/mont.css);

/* 'Pretendard' */
@import url(../../assets/style/pretendard-subset.css);

/*** css 변수 ***/
/* 전역 변수 */
:root {
  --font-ko: 'Pretendard', -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Apple SD Gothic Neo", Arial, sans-serif;
  --font-en-heavy: 'Mont-Heavy', -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Apple SD Gothic Neo", Arial, sans-serif;
  --font-en-bold: 'Mont-Bold', -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Apple SD Gothic Neo", Arial, sans-serif;

  --theme-red: #EB0029;
  --dark-gray: #4B4B4B;
  --middle-gray: #888888;
  --light-gray: #A8A8A8;
  
}

::-webkit-scrollbar { width: 8px;}
::-webkit-scrollbar-thumb { 
  width: 8px;
  background-color: #2f3542;
  background-color: var(--theme-red);
  background-color: #050505;
  border-radius: 10px;
}
/* body { overflow: hidden;} */
section { word-break: keep-all;}
section .title { text-align: center;}
section .title span { 
  display: block; 
  font-size: 68px; 
  line-height: 1.147; 
  font-family: var(--font-en-heavy);
}
section .title small { 
  display: block; 
  text-align: center; 
  font-size: 68px; 
  line-height: 1.147; 
  font-family: var(--font-en-heavy);
}

h2 { font-size: 70px; font-family: var(--font-ko);}
h3 { font-size: 68px; font-family: var(--font-en-heavy);}