@charset "utf-8";

section .swiper-button-next.circle {
  right: 40px;
}
section .swiper-button-prev.circle {
  left: 40px;
}
section .swiper-button-next.circle,
section .swiper-button-prev.circle {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  filter: drop-shadow(0px 1px 10px rgb(0, 0, 0, 0.5));
  top: 42%;
}
section .swiper-button-prev.circle::after,
section .swiper-button-next.circle::after {
  content: "";
  width: 25px;
  height: 24px;
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
section .swiper-button-prev.circle::after { background-image: url(./images/arrow_big_prev.png);}
section .swiper-button-next.circle::after { background-image: url(./images/arrow_big_next.png);}
section .swiper-button-next.circle::after section .swiper-button-prev.circle {
  right: 40px;
}
section .more-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 306px;
  height: 56px;
  border-radius: 50px;
}
section .more-btn::before {
  content: "";
  display: block;
  position: absolute;
  width: 306px;
  height: 56px;
  border-radius: 50px;
  border: 2px solid #000;
}
section .more-btn span { font-family: var(--font-ko); font-size: 18px; font-weight: bold;}
.title-txt-box strong {
  font-size: 68px;
  font-family: var(--font-en-heavy);
}
.title-txt-box small {
  font-size: 24px;
  font-family: var(--font-ko);
  display: block;
  color: var(--dark-gray);
}

/*** header ***/
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  transition: background-color .2s;
  z-index: 9;
}
header .header-wrapper {
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header-wrapper .logo img {
  width: 220px;
}
header .header-wrapper .logo img:last-child {
  display: none;
}
header .header-wrapper .gnb {
  display: flex;
  font-family: var(--font-ko);
}
header .header-wrapper .gnb li {
  height: 100%;
  position: relative;
}
header .header-wrapper .gnb li a {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  padding: 0 40px;
  height: 100%;
  transition-duration: .2s;
}
header .header-wrapper .gnb li .lnb {
  /* display: none; */
  position: absolute;
  left: 20px;
  bottom: -28px;
  transform: translateY(100%);
  background-color: #fff;
  border-radius: 5px;
}
header .header-wrapper .gnb li .lnb li a {
  width: 200px;
  padding: 20px;
  color: inherit;
  font-size: 17px;
}
header .header-wrapper .mo-menu {
  display: none;
}

/*** main ***/
main .s1 .swiper .txt-box {
  position: absolute;
  left: calc((100% - 1280px) / 2);
  top: 50%;
  transform: translateY(-50%);
  z-index: 9;
}
main .s1 .swiper .txt-box h2 {
  position: relative;
  color: #fff;
}
main .s1 .swiper .txt-box h2 strong {
  text-shadow: 1px 1px 2px #292626;
}
main .s1 .swiper .txt-box h2 strong:nth-child(2) {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
main .s1 .swiper .txt-box h2 small {
  display: block;
  position: relative;
  font-weight: 400;
}
main .s1 .swiper .txt-box h2 small span {
  position: relative;
  display: block;
}
main .s1 .swiper .txt-box h2 small span:nth-of-type(2) {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
main .s1 .swiper .txt-box h2 em {
  font-size: 28px;
}
main .s1 .swiper .txt-box .slide-control {
  height: 2px;
  margin-top: 60px;
  display: inline-flex;
  align-items: center;
}
main .s1 .swiper .txt-box .slide-control .now-count,
main .s1 .swiper .txt-box .slide-control .all-count {
  font-size: 20px;
  font-family: var(--font-ko);
  color: #fff;
  width: 24px;
}
main .s1 .swiper .txt-box .slide-control .swiper-pagination {
  width: 320px;
  height: 2px;
  position: unset;
  margin: 0 12px;
}
main .s1 .swiper .txt-box .slide-control .swiper-pagination .swiper-pagination-progressbar-fill {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff;
}
main .s1 .swiper .txt-box .slide-control .arrow {
  display: flex;
  margin-left: 22px;
}
main .s1 .swiper .txt-box .slide-control .arrow .swiper-button-prev,
main .s1 .swiper .txt-box .slide-control .arrow .swiper-button-next {
  display: flex;
  align-items: center;
  justify-content: center;
  position: unset;
  margin-top: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 24px;
  height: 24px;
}
main .s1 .swiper .txt-box .slide-control .arrow .swiper-button-prev {
  background-image: url(./images/visual_arrow_left.png);
  margin-right: 8px;
}
main .s1 .swiper .txt-box .slide-control .arrow .swiper-button-prev::after {
  content: '';
  display: block;
}
main .s1 .swiper .txt-box .slide-control .arrow .swiper-button-next {
  background-image: url(./images/visual_arrow_right.png);
}
main .s1 .swiper .txt-box .slide-control .arrow .swiper-button-next::after {
  content: '';
  display: block;
}
main .s1 .swiper-slide img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

/*** 섹션2 ***/
main .s2 {
  padding: 160px 0;
}
main .s2 .wrap {
  max-width: 1920px;
  width: 100%;
  overflow: hidden;
}
/* main .s2 .wrap .title { overflow: hidden;} */
/* main .s2 .wrap .title span { transform: translateY(-100%); } */
main .s2 .wrap .title span.on {
  transform: translateY(0);
}
main .s2 .s2-swiper {
  margin-top: 60px;
  position: relative;
}
main .s2 .s2-swiper .swiper-wrapper .swiper-slide {
  width: 500px;
}
/* main .s2 .s2-swiper .swiper-wrapper .swiper-slide { margin-right: 90px;} */
main .s2 .s2-swiper .swiper-wrapper .swiper-slide .s2-slide-inner {
  text-align: center;
}
main .s2 .s2-swiper .swiper-wrapper .swiper-slide .s2-slide-inner .img-box {
  width: 100%;
  /* padding-bottom: 100%; */
  position: relative;
  overflow: hidden;
}
main .s2 .s2-swiper .swiper-wrapper .swiper-slide .s2-slide-inner .txt-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all .5s;
  margin-top: 25px;
}
main .s2 .s2-swiper .swiper-wrapper .swiper-slide .s2-slide-inner .txt-box em {
  font-size: 32px;
  font-weight: bold;
  font-family: var(--font-ko);
  padding-bottom: 4px;
}
main .s2 .s2-swiper .swiper-wrapper .swiper-slide .s2-slide-inner .txt-box small {
  font-size: 20px;
  font-family: var(--font-en-bold);
  color: var(--theme-red);
}

/*** 섹션3 ***/
main .s3 {
  /* padding-top: 160px; */
  /* position: relative; */
}
main .s3 .bg {
  /* position: absolute; */
  /* top: 0; */
  /* left: 50%; */
  width: 100%;
  /* transform: translateX(-50%); */
  max-height: 860px;
  min-height: 447px;
  position: relative;
}
main .s3 .bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main .s3 .wrap {
  max-width: 1280px;
}
main .s3 .wrap .title {
  color: #fff;
  margin-bottom: 60px;
  position: absolute;
  left: 0;
  top: 23%;
  left: 50%;
  transform: translate(-50%, -50%);
}
main .s3 .wrap .title span {
  /* display: block; */
}
main .s3 .video-box {
  position: absolute;
  left: 50%;
  top: 76%;
transform: translate(-50%, -50%);
  width: 1280px;
  height: 720px;
  aspect-ratio: 4 / 3;
  border-radius: 15px;
  overflow: hidden;
}

main .s3 .video-box iframe {
  width: 100%;
  height: 100%;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

@keyframes marquee2 {
  from {
    transform: translateX(-50%);
  }

  to {
    transform: translateX(0);
  }
}
main .s3 .marquee-container {
  margin-top: 250px;
  width: 1912px;
  overflow: hidden;
}
main .s3 .marquee {
  display: inline-flex;
  height: 80px;
}
main .s3 .marquee .txt {
  display: flex;
  font-size: 160px;
  color: var(--theme-red);
  font-family: var(--font-en-heavy);
  text-transform: uppercase;
  white-space: nowrap;
}
main .s3 .marquee .txt strong {
  display: inline-block;
  padding: 0 16px;
}
main .s3 .marquee .txt span {
  -webkit-text-stroke: 1px var(--theme-red);
  display: block;
  color: transparent;
  padding: 0 16px;
}
main .s3 .marquee.n1 {
  animation: marquee forwards infinite linear 70s;
}
main .s3 .marquee.n2 {
  animation: marquee2 forwards infinite linear 70s;
}

/*** 섹션4 ***/
main .s4 {
  margin: 40% 0 0;
  position: relative;
  overflow: hidden;
}
main .s4 .top {
  max-width: 1432px;
  margin: 0 auto;
  position: relative;
}
main .s4 .txt-container {
  position: absolute;
  left: calc((100% - 1280px) / 2);
  left: calc(100 / 1920 * 100%);
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
}
main .s4 .top .s4-swiper {
  overflow: unset;
}
main .s4 .top .s4-swiper .swiper-slide {
  /* position: relative; */
  /* transition: margin-left .8s; */
  /* margin-right: 24px; */
}
main .s4 .s4-swiper .swiper-slide .img-area {
  position: relative;
  transition-duration: .6s;
  width: calc(592 / 1276 * 100%);
  margin-left: 53.6%;
}
main .s4 .top .s4-swiper .swiper-slide:nth-of-type(1) {z-index: 3;}
main .s4 .top .s4-swiper .swiper-slide:nth-of-type(2) {z-index: 2;}
main .s4 .top .s4-swiper .swiper-slide:nth-of-type(3) {z-index: 1;}
main .s4 .top .s4-swiper .swiper-slide {z-index: 1;}
main .s4 .s4-swiper .swiper-slide.swiper-slide-next .img-area, main .s4 .s4-swiper .swiper-slide.swiper-slide-duplicate-next .img-area
{ margin-left: 0; }
main .s4 .s4-swiper .swiper-slide .img-area .img-box {
  /* overflow: hidden; */
  position: relative;
  width: 100%;
}
/* main .s4 .s4-swiper .swiper-slide .img-area .img-box .about-img img::after {
  content: "";
  display: block;
  padding-bottom: calc(720 / 592 * 100%);
} */
main .s4 .s4-swiper .swiper-slide .img-area .img-box .about-img::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100.6%;
  height: 25%;
  opacity: 0.7;
  background: linear-gradient(180deg, rgba(0,0,0,0) 0%, #000 100%);
  border-radius: 15px;
}
main .s4 .s4-swiper .swiper-slide .img-area .txt-box {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 40px;
  box-sizing: border-box;
  color: #fff;
  font-family: var(--font-ko);
}
main .s4 .s4-swiper .swiper-slide .img-area .txt-box .txt-title {
  font-size: 40px;
  font-weight: bold;
}
main .s4 .s4-swiper .swiper-slide .img-area .txt-box small {
  font-size: 16px;
  letter-spacing: -0.5px;
  display: block;
  margin-top: 5px;
}
.s4 .more-btn { margin-top: 60px;}
.s4 .top .arrow-box {
  width: 100vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0 40px;
  box-sizing: border-box;
  z-index: 1;
}
main .s4 .bottom {
  padding: 210px 0;
  position: relative;
  width: 1280px;
  margin: 0 auto;
}
main .s4 .bottom .wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .s4 .obj-box {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  z-index: -1;
}
main .s4 .obj-box div {
  position: absolute;
}
main .s4 .obj-box .effect1 {
  right: 0;
  bottom: 440px;
}
main .s4 .obj-box .effect1 img {
  animation: obj-1 infinite 3s ease-in-out;
  animation-delay: 1s;
}
@keyframes obj-1 {
  0% {
    transform: translateX(0);
  } 50% {
    transform: translateX(20%);
  } 100% {
    transform: translateX(0);
  }
}
main .s4 .obj-box .effect2 {
  left: 0;
  bottom: 0;
  transform: translateY(24%);
}
main .s4 .obj-box .effect2 img {
  animation: obj-2 infinite 3s ease-in-out;
}
@keyframes obj-2 {
  0% {
    transform: translateX(0);
  } 50% {
    transform: translateX(-20%);
  } 100% {
    transform: translateX(0);
  }
}
/*** 섹션5 ***/
main .s5 {
  /* padding: 160px 0; */
  position: relative;
  /* display: flex; */
  /* align-items: center; */
}
main .s5 .bg img { 
  width: 100%; 
}
main .s5 .search-office {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
main .s5 .search-office .title {
  color: #fff;
}
main .s5 .search-office .title small {
  font-size: 24px;
  font-family: var(--font-ko);
  font-weight: 400;
  padding-top: 5px;
}
main .s5 .search-office .search-area {
  max-width: 840px;
  margin-top: 65px;
  position: relative;
}
main .s5 .search-office .search-area .bar {
  width: 100%;
  height: 72px;
  border-radius: 50px;
  background-color: #fff;
  display: flex;
  align-items: center;
}
main .s5 .search-office .search-area .bar span {
  font-family: var(--font-ko);
  font-size: 20px;
  color: var(--dark-gray);
  padding-left: 45px;
}
main .s5 .search-office .search-area .search-btn {
  width: 64px;
  height: 64px;
  background-color: #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 4px;
  transform: translateY(-50%);
}
main .s5 .search-office .search-area .search-btn img {
  width: 40px;
  height: 40px;
}

/*** 섹션6 ***/
main .s6 { margin: 160px 0;}
main .s6 .wrap { width: 100%;}
main .s6 img {
  width: 100%;
  height: 100%;
  width: 416px;
  height: 416px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
main .s6 .forge-inner {
  max-width: 1280px;
  margin: 0 auto;
}
main .s6 .forge-inner ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
main .s6 .wrap .title span:nth-child(2) {
  font-size: 24px;
  color: var(--dark-gray);
  font-family: var(--font-ko);
  font-weight: 400;
  padding-top: 15px;
}
main .s6 .forge-inner ul {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}
main .s6 .forge-inner ul li .txt-box {
  border: 1px solid #e2e2e2;
  padding: 20px;
  border-radius: 0 0 16px 16px;
}
main .s6 .forge-inner ul li .txt-box em {
  font-family: var(--font-ko);
  font-size: 20px;
  font-weight: bold;
}
main .s6 .forge-inner ul li .txt-box small {
  display: block;
  font-family: var(--font-ko);
  font-size: 20px;
  color: var(--middle-gray);
  margin-top: 50px;
}
main .s6 .more-btn {
  margin: 0 auto;
  margin-top: 70px;
}


/*** 섹션7 ***/
main .s7 { overflow: hidden; position: relative;}
main .s7 img {
  width: 100%;
  height: 630px;
  object-fit: cover;
}
main .s7 .wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  max-width: 1280px;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
main .s7 .wrap .box {
  padding: 40px 32px 15px;
  border-radius: 15px;
  background: linear-gradient(180deg, rgb(255, 255, 255,0.9) 0%, rgb(255, 255, 255,0.7) 100%);
  width: 630px;
}
main .s7 .wrap .box h4 {
  font-family: var(--font-en-heavy);
  font-size: 40px;
}
main .s7 .wrap .box .top { 
  display: flex; 
  justify-content: space-between;
  align-items: center;
  padding-bottom: 25px;
}
main .s7 .wrap .box .top a {
  width: 82px;
  height: 39px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
main .s7 .wrap .box .top a::before {
  content: "";
  width: 100%;
  height: 100%;
  border: 1px solid var(--light-gray);
  border-radius: 50px;
  position: absolute;
  left: 0;
  top: 0;
}
main .s7 .wrap .box .top a::after {
  content: "";
  width: 0;
  height: 100%;
  background-color: #000;
  position: absolute;
  left: 0;
  top: 0;
}
main .s7 .wrap .box .top a span {
  font-family: var(--font-ko);
  font-size: 16px;
}
main .s7 .wrap .box .contents {
  font: 20px var(--font-ko);
}
main .s7 .wrap .box .contents li {
  border-bottom: 1px solid var(--light-gray);
}
main .s7 .wrap .box .contents li:last-child {
  border: none;
}
main .s7 .wrap .box .contents li a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 68px;
}
main .s7 .wrap .box .contents li a em {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
main .s7 .wrap .box .contents li a small {
  font-size: 20px;
  color: var(--middle-gray);
}

/*** footer ***/
footer {
  margin: 80px 0;
}
footer .wrap {
  max-width: 1280px;
  margin: 0 auto;
}
footer img {
  width: 40px;
}
footer .wrap .footer-menu-wrapper .footer-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 700px;
  padding-bottom: 20px;
}
footer .wrap .footer-menu-wrapper .footer-menu li p {
  font: 16px var(--font-ko);
}
footer .wrap .footer-menu-wrapper .footer-menu li:last-child p { color: #E70017;}
footer .wrap .copy p {
  font: 16px var(--font-ko);
}